.mf-form__group {
  @include mf-font-preset();
  @include mf-inner-grid();
  margin-bottom: 24px;

  &.mf-disabled {
    .mf-form__input--text {
      border: 1px solid #dddddd;
      color: #dddddd;
    }
    .mf-form__error,
    .mf-form__label,
    .mf-form__label--required {
      color: #dddddd;
    }
  }

  &.mf-error {
    .mf-form__error {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
    .mf-form__input--text {
      border: 1px solid #d0021b;
      background-image: url(mf-icon(alert, negative));
      background-position: right;
      background-repeat: no-repeat;
      padding-right: 32px;

      &:focus {
        @include mf-focus(#d0021b);
      }
    }
  }

  .mf-form__error {
    @include mf-font-preset(xs,negative);
    display: none;
    margin-top: 8px;
  }
  .mf-form__input--text {
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 40px;
    margin-top: 8px;
    padding: 8px;
    width: 100%;
    margin-bottom: 16px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
      @include mf-focus();
    }
    &.mf-loading {
      //background-image: url(mf-icon(loader));
      background-position: right 8px top 50%;
      background-repeat: no-repeat;
      background-size: 24px;
      padding-right: 32px;
    }
    &.mf-location {
      //background-image: url(mf-icon(location));
      background-position: right 8px top 50%;
      background-repeat: no-repeat;
      background-size: 24px;
      padding-right: 32px;
    }
  }
  .mf-form__label {
    @include mf-font-preset();
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    font-weight: normal;

    &--required {
      @include mf-font-preset(xs,dim);
      float: right;
      font-style: italic;
      font-weight: 200;
      margin-left: 16px;
      padding-top: 4px;
    }
  }
  .mf-form__validation {
    margin-top: 8px;

    label {
      @include mf-font-preset(xs);
      //background-image: url(mf-icon(x--exact,dim));
      background-position: left 50%;
      background-repeat: no-repeat;
      display: inline-block;
      margin-left: 0;
      margin-right: 16px;
      padding-left: 16px;

      &.mf-error {
        @include mf-font-preset(xs,negative);
        //background-image: url(mf-icon(x--exact,negative));
        background-position: left 50%;
      }
      &.mf-success {
        //background-image: url(mf-icon(check-v02--exact));
        background-position: left 50%;
      }
    }
  }
}
