h2, .h2 {
	@include mf-font-preset(large);
    font-weight: 600;
	margin-bottom: $mf-buffer__small;
    margin-left: $mf-buffer__small;
    margin-right: $mf-buffer__small;
    margin-top: 0;
}
@media (min-width: map-get($mf-breakpoints, medium)) {
    h2, .h2 {
		@include mf-font-preset(xl);
        font-weight: 600;
		margin-bottom: $mf-buffer__medium;
        margin-left: $mf-buffer__medium;
        margin-right: $mf-buffer__medium;
    }
}
