// More info on what's going on here: https://codepen.io/tigt/post/optimizing-svgs-in-data-uris

// [Move me somewhere more global] String replace function
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

//== Icon SVG data
//
//## Icons are kept in this SASS map as minified SVGs, which we can then use SCSS to modify to create all of
//## our color variations
$mf-icons: (
  activity : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M24 9H14c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1m0 5H14c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1m-5 5h-5c-.55 0-1-.45-1-1s.45-1 1-1h5c.55 0 1 .45 1 1s-.45 1-1 1m7-16H12C9.98 3 9 4.02 9 6l-.01 17.06c0 .46-.41.87-1.01.87-.57 0-.98-.41-.98-.87V12H6c-2.01 0-3 1.02-3 3v10c0 2.2 1.76 3.99 4 3.99h17c3 0 5-1.96 5-4.99l.01-18c0-1.98-1.04-3-3.01-3" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  add : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M22 15h-5v-5c0-.6-.4-1-1-1s-1 .4-1 1v5h-5c-.6 0-1 .4-1 1s.4 1 1 1h5v5c0 .6.4 1 1 1s1-.4 1-1v-5h5c.6 0 1-.4 1-1s-.4-1-1-1z" fill="--color--" fill-rule="evenodd" /></svg>'
    ),
  alert : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M18 23h-4v-3h4v3zm-.5-5h-3L14 9h4l-.5 9z" fill="--color--" fill-rule="evenodd" /></svg>'
    ),
  allergies : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M29.1 8.1c-.3-.3-.7-.6-1.1-.7.4-1.1.2-2.4-.7-3.4-.8-.8-2.1-1.1-3.2-.7-.1-.3-.4-.7-.7-1-1.1-1.1-3.1-1.1-4.2.1l-1.9 1.9c-.3-.5-.6-.8-.6-.9-1.2-1.2-3.2-1.2-4.3 0l-8.9 8.9C-1 16.7-1 23.6 3.3 27.9c2 2 4.7 3.1 7.5 3.1 1.7 0 3.3-.4 4.8-1.2l9.6-4.9c1.5-.8 2.1-2.6 1.4-4.2-.5-1-1.6-1.7-2.8-1.7-.4 0-.9.1-1.3.3l-.5.2 7.1-7.1c1.2-1.2 1.2-3.1 0-4.3zM27.7 11l-9.4 9.4c-.4.4-.5 1-.3 1.5.3.7 1.2 1.1 1.9.8l3.4-1.6c.5-.2 1.2 0 1.4.5.3.5.1 1.2-.5 1.5L14.6 28c-1.2.6-2.5.9-3.9.9-2.3 0-4.4-.9-6.1-2.5-3.5-3.5-3.5-9.1 0-12.6l8.9-8.9c.2-.2.5-.3.7-.3.2 0 .5.1.7.3.3.3.6.9.1 1.4l-2 2.2c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.2 0 .5-.1.7-.3l2.2-2.2 3.9-3.9c.4-.4 1.1-.4 1.4 0 .5.5.3 1-.1 1.4l-5.7 5.7c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.2 0 .5-.1.7-.3l5.9-5.9.9-.9c.4-.4 1-.5 1.5.1.4.4.4 1.1 0 1.5l-.6.6-.7.7-5.5 5.5c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.2 0 .5-.1.7-.3l5.5-5.5c.1-.1.6-.5 1-.5.1 0 .4 0 .6.3.6.3.6 1 .2 1.4z" fill="--color--"/><circle cx="13.5" cy="15.5" fill="--color--" r="1.5"/><circle cx="6.5" cy="22.5" fill="--color--" r="1.5"/><circle cx="8" cy="17" fill="--color--" r="3"/><circle cx="13" cy="23" fill="--color--" r="3"/></svg>'
    ),
  appointments : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M21 8c.5 0 1-.5 1-1V4c0-.5-.5-1-1-1s-1 .5-1 1v3c0 .5.5 1 1 1zM10 8c.5 0 1-.5 1-1V4c0-.5-.5-1-1-1s-1 .5-1 1v3c0 .5.5 1 1 1zM11 15H9c-.5 0-1 .5-1 1v2c0 .5.5 1 1 1h2c.5 0 1-.5 1-1v-2c0-.5-.5-1-1-1zM11 21H9c-.5 0-1 .5-1 1v2c0 .5.5 1 1 1h2c.5 0 1-.5 1-1v-2c0-.5-.5-1-1-1z" fill="--color--" /><path d="M32 19c0-2.8-1.7-4.4-3-5.1V10c0-2.8-2.2-5-5-5v2c0 1.6-1.3 3-3 3s-3-1.4-3-3V5h-5v2c0 1.6-1.3 3-3 3S7 8.6 7 7V5.1c-2.3.5-4 2.5-4 4.9v15c0 2.8 2.2 5 5 5h16c2.8 0 5-2.2 5-5v-.3c1.6-.6 3-2.1 3-5.7zm-8 9H8c-1.7 0-3-1.3-3-3V13h22v10c-1.4 0-2.2-.4-2.6-.7.4-.7.6-1.5.6-2.3 0-2.8-2.2-5-5-5s-5 2.2-5 5 2.2 5 5 5c1.2 0 2.3-.4 3.1-1.1.7.5 1.9 1.1 3.9 1.1 0 1.7-1.3 3-3 3zm-4-5c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3zm9-.6v-6c.5.6 1 1.4 1 2.6 0 1.9-.4 2.9-1 3.4z" fill="--color--" /></svg>'
    ),
  ask-a-question : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M17.7108,15.7108 C17.0098,16.4118 16.5038,16.9178 16.5038,18.0038 C16.5038,18.5568 16.0558,19.0038 15.5038,19.0038 C14.9518,19.0038 14.5038,18.5568 14.5038,18.0038 C14.5038,16.0898 15.4978,15.0958 16.2968,14.2968 C16.9978,13.5958 17.5038,13.0898 17.5038,12.0038 C17.5038,10.9008 16.6068,10.0038 15.5038,10.0038 C14.4008,10.0038 13.5038,10.9008 13.5038,12.0038 C13.5038,12.5558 13.0558,13.0038 12.5038,13.0038 C11.9518,13.0038 11.5038,12.5558 11.5038,12.0038 C11.5038,9.7978 13.2978,8.0038 15.5038,8.0038 C17.7098,8.0038 19.5038,9.7978 19.5038,12.0038 C19.5038,13.9178 18.5098,14.9118 17.7108,15.7108 M15.5038,24.0038 C14.6748,24.0038 14.0038,23.3318 14.0038,22.5038 C14.0038,21.6758 14.6748,21.0038 15.5038,21.0038 C16.3328,21.0038 17.0038,21.6758 17.0038,22.5038 C17.0038,23.3318 16.3328,24.0038 15.5038,24.0038 M14.9968,2.0088 C7.9088,2.2688 2.1558,8.1158 2.0028,15.2058 C1.9448,17.9228 2.6898,20.4598 4.0158,22.6008 C4.0178,22.6048 4.0188,22.6068 4.0218,22.6118 L4.2038,22.9928 C4.4468,23.6308 4.6908,25.0268 3.2188,26.8018 C2.4958,27.6738 3.1348,28.9968 4.2668,28.9968 L4.8618,28.9968 L4.8628,29.0078 L15.2448,29.0078 C22.7018,29.0078 28.9458,23.0728 29.0068,15.6158 C29.0688,7.9378 22.7238,1.7268 14.9968,2.0088" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  attach : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M18.93 11.5h1.25v9.18c0 1.276-.449 2.357-1.348 3.242-.898.885-1.986 1.328-3.261 1.328-1.277 0-2.358-.443-3.243-1.328C11.443 23.037 11 21.956 11 20.68v-9.61c0-.911.326-1.692.977-2.343s1.432-.977 2.344-.977c.911 0 1.699.326 2.363.977.664.651.996 1.432.996 2.343v9.61c0 .573-.202 1.061-.605 1.465-.405.404-.906.605-1.504.605-.6 0-1.094-.195-1.485-.586-.39-.391-.586-.885-.586-1.484v-7.93h1.25v7.93c0 .234.078.429.235.586a.794.794 0 0 0 .586.234.864.864 0 0 0 .605-.234.767.767 0 0 0 .254-.586v-9.61c0-.572-.202-1.06-.605-1.465C15.42 9.202 14.919 9 14.321 9c-.6 0-1.094.195-1.485.586-.39.391-.586.886-.586 1.484v9.61c0 .912.326 1.693.977 2.343.651.652 1.432.977 2.344.977.911 0 1.699-.325 2.363-.977.664-.65.996-1.431.996-2.343V11.5z" fill="--color--" fill-rule="evenodd" /></svg>'
    ),
  backarrow : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16.91425,23.70725 C17.30525,23.31625 17.30525,22.68425 16.91425,22.29325 L11.62125,17.00025 L23.20725,17.00025 C23.75925,17.00025 24.20725,16.55225 24.20725,16.00025 C24.20725,15.44825 23.75925,15.00025 23.20725,15.00025 L11.62125,15.00025 L16.91425,9.70725 C17.30525,9.31625 17.30525,8.68425 16.91425,8.29325 C16.52325,7.90225 15.89125,7.90225 15.50025,8.29325 L7.79325,16.00025 L15.50025,23.70725 C15.89125,24.09825 16.52325,24.09825 16.91425,23.70725" fill="--color--" /></svg>'
    ),
  bills : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M21 15c-1 0-1.8.3-2.5.9-.7-.6-1.5-.9-2.5-.9-2.2 0-4 1.8-4 4s1.8 4 4 4c1 0 1.8-.3 2.5-.9.7.6 1.5.9 2.5.9 2.2 0 4-1.8 4-4s-1.8-4-4-4zm0 6c-.5 0-.9-.2-1.3-.5.2-.5.3-1 .3-1.5s-.1-1-.3-1.5c.4-.3.8-.5 1.3-.5 1.1 0 2 .9 2 2s-.9 2-2 2z" fill="--color--" /><path d="M27 10h-.8l-.4-2.6c-.3-2-2-3.4-4-3.4h-.6L4.4 6.5c-1.2.2-2.3.9-2.9 2-.5.8-.6 1.8-.4 2.7l1.4 9.7c.3 1.8 1.7 3.2 3.5 3.4V24c0 2.2 1.8 4 4 4h17c2.2 0 4-1.8 4-4V14c0-2.2-1.8-4-4-4zm2 14c0 1.1-.9 2-2 2H10c-1.1 0-2-.9-2-2V14c0-1.1.9-2 2-2h17c1.1 0 2 .9 2 2v10z" fill="--color--" /></svg>'
    ),
  checkbox--checked : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><g transform="translate(8 8)"><path d="M1,3.99620271 L1,12.0037973 C1,13.6587579 2.34131869,15 3.99620271,15 L12.0037973,15 C13.6587579,15 15,13.6586813 15,12.0037973 L15,3.99620271 C15,2.34124206 13.6586813,1 12.0037973,1 L3.99620271,1 C2.34124206,1 1,2.34131869 1,3.99620271 Z M0,3.99620271 C0,1.78916089 1.78883037,0 3.99620271,0 L12.0037973,0 C14.2108391,0 16,1.78883037 16,3.99620271 L16,12.0037973 C16,14.2108391 14.2111696,16 12.0037973,16 L3.99620271,16 C1.78916089,16 0,14.2111696 0,12.0037973 L0,3.99620271 Z" fill="--color--"/><path d="M6.02325,13.3905 L2.29325,9.6605 C1.90225,9.2695 1.90225,8.6365 2.29325,8.2455 C2.68325,7.8555 3.31625,7.8555 3.70725,8.2455 L6.02325,10.5625 L12.29325,4.2925 C12.68325,3.9025 13.31625,3.9025 13.70725,4.2925 C14.09725,4.6835 14.09725,5.3165 13.70725,5.7065 L6.02325,13.3905 Z" fill="--color--"/></g></svg>'
    ),
  checkbox--unchecked : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M1,3.99620271 L1,12.0037973 C1,13.6587579 2.34131869,15 3.99620271,15 L12.0037973,15 C13.6587579,15 15,13.6586813 15,12.0037973 L15,3.99620271 C15,2.34124206 13.6586813,1 12.0037973,1 L3.99620271,1 C2.34124206,1 1,2.34131869 1,3.99620271 Z M0,3.99620271 C0,1.78916089 1.78883037,0 3.99620271,0 L12.0037973,0 C14.2108391,0 16,1.78883037 16,3.99620271 L16,12.0037973 C16,14.2108391 14.2111696,16 12.0037973,16 L3.99620271,16 C1.78916089,16 0,14.2111696 0,12.0037973 L0,3.99620271 Z" fill="--color--" transform="translate(8 8)"/></svg>'
    ),
  checkbox-large--checked : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M3,7.00552025 C3,4.7933325 4.78708529,3 7.00552025,3 L24.9944797,3 C27.2066675,3 29,4.78708529 29,7.00552025 L29,24.9944797 C29,27.2066675 27.2129147,29 24.9944797,29 L7.00552025,29 C4.7933325,29 3,27.2129147 3,24.9944797 L3,7.00552025 Z M21.5557,12.4605 L15.3837,20.4545 C15.3737,20.4675 15.3577,20.4715 15.3467,20.4835 C15.3347,20.4985 15.3307,20.5175 15.3167,20.5325 C15.2587,20.5935 15.1857,20.6265 15.1167,20.6695 C15.0767,20.6955 15.0447,20.7305 15.0017,20.7495 C14.8707,20.8085 14.7327,20.8425 14.5917,20.8425 L14.5917,20.8425 L14.5917,20.8425 C14.4757,20.8425 14.3607,20.8185 14.2507,20.7785 C14.2137,20.7655 14.1827,20.7405 14.1477,20.7235 C14.0907,20.6945 14.0327,20.6735 13.9807,20.6335 C13.9667,20.6235 13.9607,20.6075 13.9477,20.5955 C13.9337,20.5845 13.9167,20.5805 13.9027,20.5675 L9.8817,16.7425 C9.4817,16.3615 9.4657,15.7295 9.8467,15.3295 C10.2287,14.9285 10.8607,14.9135 11.2597,15.2935 L14.4777,18.3545 L19.9737,11.2375 C20.3097,10.8005 20.9357,10.7185 21.3757,11.0575 C21.8127,11.3955 21.8937,12.0235 21.5557,12.4605" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  checkbox-large--unchecked : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M4,7.50281647 C4,5.5703835 5.57195969,4 7.50281647,4 L24.4971835,4 C26.4296165,4 28,5.57195969 28,7.50281647 L28,24.4971835 C28,26.4296165 26.4280403,28 24.4971835,28 L7.50281647,28 C5.5703835,28 4,26.4280403 4,24.4971835 L4,7.50281647 Z M3,7.50281647 L3,24.4971835 C3,26.9801006 5.01787405,29 7.50281647,29 L24.4971835,29 C26.9801006,29 29,26.982126 29,24.4971835 L29,7.50281647 C29,5.01989939 26.982126,3 24.4971835,3 L7.50281647,3 C5.01989939,3 3,5.01787405 3,7.50281647 Z" fill="--color--"/></svg>'
    ),
  check-v01 : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M13.8428,20.3771 C13.6548,20.5651 13.4438,20.6581 13.2098,20.6581 C12.9748,20.6581 12.7638,20.5651 12.5768,20.3771 L9.2548,17.0551 C8.9148,16.7151 8.9148,16.1641 9.2548,15.8241 L9.2898,15.7891 C9.6298,15.4491 10.1808,15.4491 10.5208,15.7891 L13.2098,18.4791 L21.3658,10.2571 C21.7118,9.9081 22.2788,9.9151 22.6158,10.2731 C22.9398,10.6151 22.9338,11.1491 22.6058,11.4831 L13.8428,20.3771 Z" fill="--color--"/></svg>'
    ),
  chevron : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M19.9 14.1c.1.1.1.3.1.4 0 .1 0 .3-.1.4l-3.5 3.5c-.1.1-.3.1-.4.1-.1 0-.3 0-.4-.1l-3.5-3.5c-.1-.1-.1-.3-.1-.4 0-.1 0-.3.1-.4.1-.1.3-.1.4-.1h7c.1 0 .3 0 .4.1z" fill="--color--" /></svg>'
    ),
  conditions : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M28 10.2V8c0-.6-.4-1-1-1s-1 .4-1 1v2.2c-1.2.4-2 1.5-2 2.8v4c0 1.1.9 2 2 2v5.5c0 3-2.5 5.5-5.5 5.5-2.5 0-4.7-1.7-5.3-4 3.8-.4 6.8-3.6 6.8-7.5V8c0-1.7-1.3-3-3-3h-3V3c0-1.1-.9-2-2-2H6.5C4.6 1 3 2.6 3 4.5V28c0 .6.4 1 1 1s1-.4 1-1V4.5C5 3.7 5.7 3 6.5 3H14v2h-4C8.3 5 7 6.3 7 8v10.5c0 3.7 2.6 6.7 6.1 7.4.6 3.5 3.7 6.1 7.4 6.1 4.1 0 7.5-3.4 7.5-7.5V19c1.1 0 2-.9 2-2v-4c0-1.3-.8-2.4-2-2.8zM10 7h9c.6 0 1 .4 1 1v7H9V8c0-.6.4-1 1-1z" fill="--color--" /></svg>'
    ),
  connections : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M25 5c-2.2 0-4 1.8-4 4 0 .9.3 1.7.7 2.3l-2.5 4c-.7-.2-1.4-.3-2.2-.3-.8 0-1.5.1-2.2.4l-2.3-3.8c.9-.9 1.5-2.2 1.5-3.6 0-2.8-2.2-5-5-5S4 5.2 4 8s2.2 5 5 5c.6 0 1.3-.1 1.8-.4l2.2 3.6c-1.8 1.3-3 3.4-3 5.7 0 3.9 3.1 7 7 7s7-3.1 7-7c0-2.4-1.2-4.5-3-5.7l2.3-3.7c.5.2 1.1.4 1.7.4 2.2 0 4-1.8 4-4C29 6.8 27.2 5 25 5zm-3 17c0 2.8-2.2 5-5 5s-5-2.2-5-5 2.2-5 5-5 5 2.2 5 5z" fill="--color--"/><circle cx="17" cy="22" fill="--color--" r="3"/></svg>'
    ),
  download : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M22.5 21.9575L10.5 21.9575C9.948 21.9575 9.5 22.4045 9.5 22.9575 9.5 23.5105 9.948 23.9575 10.5 23.9575L22.5 23.9575C23.053 23.9575 23.5 23.5105 23.5 22.9575 23.5 22.4045 23.053 21.9575 22.5 21.9575M16.5 21.3716L21.207 16.6646C21.598 16.2736 21.598 15.6416 21.207 15.2506 20.816 14.8596 20.184 14.8596 19.793 15.2506L17.458 17.5866 17.458 8.9576C17.458 8.4286 17.029 7.9996 16.5 7.9996 15.971 7.9996 15.542 8.4286 15.542 8.9576L15.542 17.5866 13.207 15.2506C12.816 14.8596 12.184 14.8596 11.793 15.2506 11.402 15.6416 11.402 16.2736 11.793 16.6646L16.5 21.3716z" fill="--color--"/></svg>'
    ),
  edit : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M20,15.1711 L17.414,12.5851 L20,9.9991 L22.586,12.5851 L20,15.1711 Z M12.586,22.5851 L10,22.5851 L10,19.9991 L16,13.9991 L18.586,16.5851 L12.586,22.5851 Z M24,11.1711 L21.414,8.5851 C20.635,7.8051 19.365,7.8051 18.586,8.5851 L8,19.1711 L8,24.5851 L13.414,24.5851 L24,13.9991 C24.78,13.2191 24.78,11.9511 24,11.1711 L24,11.1711 Z" fill="--color--"/></g></svg>'
    ),
  health-forms : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M26.9 8L21 2.1c-.7-.7-1.6-1.1-2.6-1.1H6.9C5.3 1 4 2.3 4 3.9V28c0 1.7 1.3 3 2.9 3h18.2c1.6 0 2.9-1.3 2.9-2.9V10.7c0-1-.4-2-1.1-2.7zM26 28.1c0 .5-.4.9-.9.9H6.9c-.5 0-.9-.4-.9-.9V3.9c0-.5.4-.9.9-.9h11.4c.2 0 .4 0 .6.1V8c0 1.1.9 2 2 2h4.9c.1.2.1.4.1.6v17.5h.1z" fill="--color--" /><path d="M11.4 12.5c.4.3.9.3 1.3 0 1.1-.9 3.4-2.9 3.4-4.3C16 7 15 6 13.8 6c-.7 0-1.3.3-1.7.9H12c-.4-.5-1-.9-1.7-.9C9 6 8 7 8 8.2c0 1.4 2.2 3.4 3.4 4.3zM23 17H9c-.6 0-1 .4-1 1s.4 1 1 1h14c.6 0 1-.4 1-1s-.5-1-1-1zM16 21H9c-.6 0-1 .4-1 1s.4 1 1 1h7c.6 0 1-.4 1-1s-.5-1-1-1z" fill="--color--" /></svg>'
    ),
  health-record : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M21 24H11a6 6 0 0 0-6-6L6 6a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1l1 12a6 6 0 0 0-6 6zm7-19a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2L3 18v9a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2v-9L28 5z" fill="--color--" /><path d="M22 11H10a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2M23 15H9a1 1 0 0 1 0-2h14a1 1 0 0 1 0 2" fill="--color--" /></svg>'
    ),
  help : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M18.207,15.7012 C17.506,16.4022 17,16.9082 17,17.9942 C17,18.5472 16.552,18.9942 16,18.9942 C15.448,18.9942 15,18.5472 15,17.9942 C15,16.0802 15.994,15.0862 16.793,14.2872 C17.494,13.5862 18,13.0802 18,11.9942 C18,10.8912 17.103,9.9942 16,9.9942 C14.897,9.9942 14,10.8912 14,11.9942 C14,12.5462 13.552,12.9942 13,12.9942 C12.448,12.9942 12,12.5462 12,11.9942 C12,9.7882 13.794,7.9942 16,7.9942 C18.206,7.9942 20,9.7882 20,11.9942 C20,13.9082 19.006,14.9022 18.207,15.7012 M16,23.9942 C15.171,23.9942 14.5,23.3222 14.5,22.4942 C14.5,21.6662 15.171,20.9942 16,20.9942 C16.829,20.9942 17.5,21.6662 17.5,22.4942 C17.5,23.3222 16.829,23.9942 16,23.9942 M16.018,3.0002 C8.828,3.0002 3,8.8282 3,16.0182 C3,23.2072 8.828,29.0362 16.018,29.0362 C23.207,29.0362 29.036,23.2072 29.036,16.0182 C29.036,8.8282 23.207,3.0002 16.018,3.0002" fill="--color--"/></svg>'
    ),
  home : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M30.62 13.67L17.253 2.45a1.875 1.875 0 0 0-2.44 0L1.347 13.67c-.39.402-.488 1.003-.097 1.404.195.3.488.4.78.4H4.02L4 26c0 1.703 1.439 3 3 3h4c1.074 0 2-.898 2-2v-6c0-.501.512-1 1-1h4c.488 0 1 .499 1 1v5.997c0 1.102.927 2.003 2 2.003h4c1.56 0 3-1.397 3-3V15.574h1.938c.293 0 .585-.1.78-.4.39-.501.39-1.102-.097-1.503" fill="--color--" /></svg>'
    ),
  immunizations : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M29.7 8.8l-6.5-6.5c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l1.4 1.4-4 4L18 7.9l-2.5-2.5c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l2.5 2.5-7.9 7.9c-.8.8-1.2 1.8-1.2 2.9 0 .8.3 1.6.7 2.3l-5.9 5.9c-.4.4-.4 1 0 1.4.2.2.4.3.7.3.3 0 .5-.1.7-.3l5.9-5.9c.7.4 1.4.7 2.2.7 1.1 0 2.1-.4 2.8-1.2l7.9-7.9 2.4 2.4c.2.2.5.3.7.3.2 0 .5-.1.7-.3.4-.4.4-1 0-1.4L24 13.9l-1.2-1.2 4-4 1.4 1.4c.2.2.5.3.7.3.2 0 .5-.1.7-.3.5-.3.5-.9.1-1.3zm-13.1 9.7l-3.2-3.2 4.6-4.6 3.2 3.2-4.6 4.6zm4.9-7.1l-.5-.5-.4-.4 3.9-3.9.9.9-3.9 3.9z" fill="--color--" /></svg>'
    ),
  item : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" fill="--color--" fill-rule="evenodd" r="5"/></svg>'
    ),
  item--error : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M21 16a5 5 0 0 0-5-5 4.964 4.964 0 0 0-2.754.832l6.922 6.922c.524-.79.832-1.735.832-2.754M21.354 22.646l-12-12a.5.5 0 0 0-.707.707l2.743 2.745A4.944 4.944 0 0 0 11 16a5 5 0 0 0 5 5c.677 0 1.314-.146 1.902-.39l2.744 2.744a.498.498 0 0 0 .707 0 .5.5 0 0 0 0-.707" fill="--color--" /></svg>'
    ),
  lab-results : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M27 16h2V7h-2zM23 16h2V9h-2zM19 16h2v-5h-2zM14.461 16.405l-2.828 1.414-5.512-5.511 2.121-2.122 6.22 6.219zm.65 7.693a3.477 3.477 0 0 0 4.8-.123 3.477 3.477 0 0 0 1.024-2.475c0-.935-.364-1.814-1.025-2.475L9.657 8.772a1 1 0 0 0-1.415-1.414l-4.949 4.95a.999.999 0 1 0 1.414 1.414L15.11 24.098z" fill="--color--" /></svg>'
    ),
  link : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M11.4972,26.4791 C9.8322,26.4791 8.1682,25.8461 6.9012,24.5791 C4.3662,22.0441 4.3662,17.9201 6.9012,15.3861 L9.7292,12.5581 C10.9532,11.3341 12.5852,10.6601 14.3252,10.6601 C16.0652,10.6601 17.6982,11.3341 18.9212,12.5581 C19.5072,13.1441 19.5072,14.0941 18.9212,14.6791 C18.3352,15.2651 17.3862,15.2651 16.8002,14.6791 C15.4862,13.3651 13.1642,13.3641 11.8512,14.6791 L9.0222,17.5071 C7.6572,18.8731 7.6572,21.0921 9.0222,22.4581 C10.3862,23.8211 12.6072,23.8211 13.9722,22.4581 C14.5582,21.8721 15.5082,21.8721 16.0932,22.4581 C16.6792,23.0431 16.6792,23.9931 16.0932,24.5791 C14.8262,25.8461 13.1622,26.4791 11.4972,26.4791" fill="--color--" fill-rule="evenodd" /><path d="M17.1539,20.8219 C15.4889,20.8219 13.8249,20.1889 12.5579,18.9219 C11.9719,18.3359 11.9719,17.3859 12.5579,16.8009 C13.1439,16.2149 14.0929,16.2149 14.6789,16.8009 C16.0449,18.1639 18.2649,18.1639 19.6299,16.8009 L22.4579,13.9719 C23.8219,12.6079 23.8219,10.3869 22.4579,9.0219 C21.0919,7.6579 18.8729,7.6589 17.5079,9.0219 C16.9219,9.6079 15.9719,9.6079 15.3859,9.0219 C14.7999,8.4369 14.7999,7.4869 15.3859,6.9009 C17.9199,4.3669 22.0429,4.3659 24.5789,6.9009 C27.1129,9.4349 27.1129,13.5589 24.5789,16.0929 L21.7509,18.9219 C20.4829,20.1879 18.8179,20.8219 17.1539,20.8219" fill="--color--" fill-rule="evenodd" /></svg>'
    ),
  loader : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M4.5,18 C3.671,18 3,17.329 3,16.5 C3,9.056 9.056,3 16.5,3 C17.329,3 18,3.671 18,4.5 C18,5.329 17.329,6 16.5,6 C10.71,6 6,10.71 6,16.5 C6,17.329 5.329,18 4.5,18" fill="--color--" fill-rule="evenodd"> <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.6s" repeatCount="indefinite"/></path></svg>'
    ),
  location : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16 18a5 5 0 1 1 .001-10.001A5 5 0 0 1 16 18m0-15C10.475 3 6 7.395 6 13c0 7.108 10 16 10 16s10-8.892 10-16c0-5.529-4.475-10-10-10" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  location--error : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16 8a5 5 0 0 1 5 5 4.964 4.964 0 0 1-.832 2.754l3.73 3.73C25.126 17.35 26 15.098 26 13c0-5.529-4.475-10-10-10a9.996 9.996 0 0 0-6.343 2.243l3.589 3.589A4.964 4.964 0 0 1 16 8M16 18a5 5 0 0 1-5-5c0-.676.146-1.315.391-1.902l6.511 6.511A4.92 4.92 0 0 1 16 18zM6.354 4.646a.502.502 0 0 0-.708.708l2.049 2.048A9.978 9.978 0 0 0 6 13c0 7.108 10 16 10 16s3.434-3.055 6.278-7.015l2.368 2.369a.502.502 0 0 0 .708 0 .502.502 0 0 0 0-.708l-19-19z" fill="--color--"/></svg>'
    ),
  lock : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M13,12 C13,10.346 14.346,9 16,9 C17.654,9 19,10.346 19,12 L19,15 L13,15 L13,12 Z M22,15 L21,15 L21,12 C21,9.243 18.757,7 16,7 C13.243,7 11,9.243 11,12 L11,15 L10,15 C8.896,15 8,15.896 8,17 L8,23 C8,24.104 8.896,25 10,25 L22,25 C23.104,25 24,24.104 24,23 L24,17 C24,15.896 23.104,15 22,15 L22,15 Z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  mail : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M26.573 10.82L16 18.22l-10.573-7.4a1 1 0 0 1 1.146-1.64L16 15.78l9.427-6.6a1 1 0 1 1 1.146 1.64m1.672-3.082C27.742 7.246 27.162 7 26.505 7H5.494c-.657 0-1.238.246-1.74.738C3.25 8.231 3 8.8 3 9.443v13.113c0 .644.251 1.213.754 1.705s1.084.74 1.741.74h21.01c.657 0 1.237-.248 1.74-.74.503-.492.755-1.06.755-1.705V9.443c0-.644-.252-1.212-.755-1.705" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  medfusion-plus : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M27.49 12a16 16 0 0 0-10.07 4A16.09 16.09 0 0 0 16 17.42 16 16 0 0 1 17.86 20 15.91 15.91 0 0 1 20 27.49a.64.64 0 0 0 0-.13V20h7.49a.64.64 0 0 0 .51-.63v-6.73a.64.64 0 0 0-.51-.64z" fill="--color--" opacity="1"/><path d="M17.86 20a16.05 16.05 0 0 0-3.28-4A16 16 0 0 1 12 17.85 15.91 15.91 0 0 1 4.52 20H12v7.36a.64.64 0 0 0 .64.64h6.72a.64.64 0 0 0 .63-.51A15.91 15.91 0 0 0 17.86 20z" fill="--color--" opacity=".85"/><path d="M12 14.15A15.91 15.91 0 0 0 4.52 12a.64.64 0 0 0-.51.63v6.72a.64.64 0 0 0 .51.63A15.91 15.91 0 0 0 12 17.85 16 16 0 0 0 14.58 16 16 16 0 0 0 12 14.15z" fill="--color--" opacity=".7"/><path d="M19.37 4h-6.72a.64.64 0 0 0-.64.64V12H4.52A15.91 15.91 0 0 1 12 14.15 16 16 0 0 1 14.58 16a16.05 16.05 0 0 0 3.28-4A15.91 15.91 0 0 0 20 4.51a.64.64 0 0 0-.63-.51z" fill="--color--" opacity=".55"/></svg>'
    ),
  medfusion-twirl : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M21.8968422,12.1159623 C22.1621052,12.9685939 22.3136843,13.8591202 22.3263158,14.7622781 C22.3326315,15.6970149 22.1936843,16.6380675 21.9094737,17.5285939 C21.3347368,19.353857 20.1726316,20.9643833 18.6189473,22.0822781 C18.0568422,22.4864886 17.4694737,22.8085939 16.8568421,23.0675412 C20.6589474,20.1685939 21.4736843,14.673857 18.6568421,10.7706991 C16.2378948,7.41701491 11.9242105,6.35596228 8.24210527,7.81490965 C8.24210527,7.81490965 7.55368421,8.0801728 7.40842106,8.15596228 C7.41473684,8.1433307 6.10105263,4.94754123 6.10105263,4.94754123 C7.03578948,4.60648859 8.04631579,4.41701491 9.02526316,4.29069912 C11.3115789,3.99385701 13.7052632,4.17701491 15.8336843,5.10543596 C17.3052632,5.74964649 18.631579,6.8233307 19.6673685,8.04859386 C20.6589474,9.22964649 21.4357895,10.625436 21.8968422,12.1159623 Z M21.8021053,9.15999985 C24.7452632,10.9726314 26.7031579,14.2189472 26.6905263,17.9326314 C26.6905263,23.6168419 22.08,28.2273682 16.3957895,28.2273682 C10.7115789,28.2273682 6.10105263,23.6231577 6.10105263,17.9326314 C6.10105263,14.6231577 7.66105263,11.6863156 10.08,9.80421038 C8.58947368,11.3515788 7.66736842,13.4610524 7.66736842,15.785263 C7.66736842,20.5473682 11.5263158,24.4063156 16.2884211,24.4063156 C21.0505263,24.4063156 24.9094737,20.5473682 24.9094737,15.785263 C24.9094737,13.1199998 23.6968421,10.7389472 21.8021053,9.15999985 Z" id="path-1" fill="--color--" fill-rule="evenodd"></path>
</svg>'
    ),
  medication : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M5.31 26.45l.125.125a7.888 7.888 0 0 0 11.158 0l10.01-10.01a7.865 7.865 0 0 0 0-11.122l-.125-.125a7.913 7.913 0 0 0-11.192 0L5.31 15.294a7.889 7.889 0 0 0 0 11.156zm1.415-1.414a5.889 5.889 0 0 1 0-8.328L16.7 6.732a5.913 5.913 0 0 1 8.362 0l.125.125a5.865 5.865 0 0 1 0 8.295L15.178 25.16a5.888 5.888 0 0 1-8.328 0l-.125-.125z" fill="--color--"/><path d="M25.684 5.942c-2.783-2.643-7.251-2.357-9.964.357l-4.682 4.682a.033.033 0 0 0 0 .047l9.82 9.82a.032.032 0 0 0 .047 0l4.91-4.91a6.978 6.978 0 0 0-.131-9.996" fill="--color--"/></svg>'
    ),
  menu : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><g fill="--color--" fill-rule="evenodd" transform="translate(4 6)"><rect height="4" rx="1" width="24"/><rect height="4" rx="1" width="24" y="8"/><rect height="4" rx="1" width="24" y="16"/></g></svg>'
    ),
  menu-dots : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M17.4 23.4c-.4.4-.867.6-1.4.6-.533 0-1-.2-1.4-.6-.4-.4-.6-.867-.6-1.4 0-.533.2-1 .6-1.4.4-.4.867-.6 1.4-.6.533 0 1 .2 1.4.6.4.4.6.867.6 1.4 0 .533-.2 1-.6 1.4zM17.4 17.4c-.4.4-.867.6-1.4.6-.533 0-1-.2-1.4-.6-.4-.4-.6-.867-.6-1.4 0-.533.2-1 .6-1.4.4-.4.867-.6 1.4-.6.533 0 1 .2 1.4.6.4.4.6.867.6 1.4 0 .533-.2 1-.6 1.4zM17.4 11.4c-.4.4-.867.6-1.4.6-.533 0-1-.2-1.4-.6-.4-.4-.6-.867-.6-1.4 0-.533.2-1 .6-1.4.4-.4.867-.6 1.4-.6.533 0 1 .2 1.4.6.4.4.6.867.6 1.4 0 .533-.2 1-.6 1.4z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  messages : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M27.7 25.8c.9-1.4 1.4-3.1 1.3-4.9-.1-3-1.7-5.6-4-7.2C24.6 20 19.2 25 12.8 25h-.7c1.5 3 4.6 5 8.1 5h7a1 1 0 0 0 .8-1.6c-.5-.8-.8-1.7-.3-2.6z" fill="--color--"/><path d="M12.6 3c-5.2.2-9.5 4.5-9.6 9.8 0 2 .5 3.9 1.5 5.5l.1.3c.2.4.4 1.5-.7 2.8-.5.6-.1 1.6.8 1.6h8.1c5.5 0 10.2-4.4 10.2-9.9.1-5.7-4.6-10.3-10.4-10.1zM9 15c-.8 0-1.5-.7-1.5-1.5S8.2 12 9 12s1.5.7 1.5 1.5S9.8 15 9 15zm4 0c-.8 0-1.5-.7-1.5-1.5S12.2 12 13 12s1.5.7 1.5 1.5S13.8 15 13 15zm4 0c-.8 0-1.5-.7-1.5-1.5S16.2 12 17 12s1.5.7 1.5 1.5S17.8 15 17 15z" fill="--color--"/></svg>'
    ),
  notes : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M26 6h-2c0-1.1-.9-2-2-2H10c-1.1 0-2 .9-2 2H6C4.3 6 3 7.3 3 9v16c0 1.7 1.3 3 3 3h13.4c1 0 1.9-.4 2.6-1.1l5.9-5.9c.7-.7 1.1-1.6 1.1-2.6V9c0-1.7-1.3-3-3-3zM10 6h12v2H10V6zM6 26c-.6 0-1-.4-1-1V9c0-.6.4-1 1-1h2c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2h2c.6 0 1 .4 1 1v9.3c0 .2 0 .4-.1.6H22c-1.1 0-2 .9-2 2v4.9c-.2.2-.4.2-.6.2H6z" fill="--color--"/><path d="M9 16h14c.6 0 1-.4 1-1s-.4-1-1-1H9c-.6 0-1 .4-1 1s.4 1 1 1zM16 18H9c-.6 0-1 .4-1 1s.4 1 1 1h7c.6 0 1-.4 1-1s-.5-1-1-1z" fill="--color--"/></svg>'
    ),
  phone : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M25.3121,20.6768 C26.4531,21.8128 26.4531,23.0628 25.3121,24.4268 C24.8551,24.9568 24.4081,25.3548 23.9711,25.6198 C23.5331,25.8848 23.1721,26.0368 22.8861,26.0748 C22.6011,26.1128 22.1921,26.1318 21.6591,26.1318 C20.1751,26.1318 18.4061,25.3738 16.3511,23.8588 C14.7151,22.6848 13.2311,21.4158 11.9001,20.0518 C10.1871,18.2718 8.6841,16.2448 7.3911,13.9718 C6.2491,11.8508 5.9071,10.1088 6.3631,8.7448 C6.5921,8.0248 7.1241,7.3998 7.9621,6.8698 L8.0191,6.8128 C8.7041,6.3588 9.3121,6.1318 9.8451,6.1318 C10.5681,6.1318 11.2151,6.4718 11.7851,7.1538 L11.8431,7.2108 C12.7181,8.3468 13.3261,9.2378 13.6691,9.8818 C14.2401,11.0558 14.2211,12.0598 13.6121,12.8928 C13.1551,13.4988 12.9271,13.9348 12.9271,14.1998 C12.9271,14.3128 13.1741,14.6538 13.6691,15.2218 L13.7261,15.2788 C14.6391,16.3018 15.1341,16.8508 15.2101,16.9268 C15.2481,16.9268 15.2861,16.9458 15.3241,16.9838 C15.3621,17.0218 15.4001,17.0598 15.4381,17.0968 L15.5521,17.2108 C16.3131,17.9688 16.8651,18.4988 17.2081,18.8018 L17.2651,18.8588 C17.6071,19.1618 17.8351,19.3128 17.9491,19.3128 C18.1401,19.3128 18.6911,19.0288 19.6051,18.4608 C19.8711,18.2718 20.1941,18.1768 20.5751,18.1768 C21.2601,18.1768 22.0871,18.4608 23.0581,19.0288 C24.0281,19.5968 24.7791,20.1468 25.3121,20.6768" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  portal : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16 25a9 9 0 0 1-9-9 9 9 0 0 1 9-9 9 9 0 0 1 9 9 9 9 0 0 1-9 9m0-22C8.82 3 3 8.82 3 16s5.82 13 13 13 13-5.82 13-13S23.18 3 16 3" fill="--color--"/><path d="M16 11a5 5 0 1 0 .001 10.001A5 5 0 0 0 16 11" fill="--color--"/></svg>'
    ),
  portal--duplicate : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M7 16c0-3.678 2.21-6.832 5.371-8.227.374-.165.629-.518.629-.927V4.701c0-.686-.681-1.177-1.328-.949C6.622 5.535 3 10.34 3 16c0 5.66 3.622 10.465 8.672 12.248A1.003 1.003 0 0 0 13 27.299v-2.145c0-.409-.255-.762-.629-.927C9.21 22.832 7 19.678 7 16M29 16c0-5.661-3.623-10.466-8.674-12.248C19.68 3.523 19 4.014 19 4.7v2.147c0 .408.255.761.628.926C22.79 9.168 25 12.322 25 16s-2.21 6.832-5.372 8.227c-.373.165-.628.518-.628.926V27.3c0 .686.68 1.177 1.326.948C25.377 26.466 29 21.661 29 16" fill="--color--"/><path d="M16 20c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4m6-4a5.996 5.996 0 0 0-5-5.91V9a1 1 0 0 0-2 0v1.09A5.996 5.996 0 0 0 10 16a5.996 5.996 0 0 0 5 5.91V23a1 1 0 1 0 2 0v-1.09A5.996 5.996 0 0 0 22 16M16 7a1 1 0 0 0 1-1V4a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1M16 25a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1" fill="--color--"/></svg>'
    ),
  portal--error : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16 7a9 9 0 0 1 9 9 8.96 8.96 0 0 1-1.972 5.614l2.838 2.838A12.942 12.942 0 0 0 29 16c0-7.18-5.82-13-13-13-3.23 0-6.178 1.185-8.452 3.134l2.838 2.838A8.96 8.96 0 0 1 16 7" fill="--color--"/><path d="M13.246 11.832l6.923 6.923a4.977 4.977 0 0 0 .83-2.755 5 5 0 0 0-5-5 4.974 4.974 0 0 0-2.753.832M16 25a9 9 0 0 1-9-9 8.94 8.94 0 0 1 1.435-4.858l2.956 2.956A4.92 4.92 0 0 0 11 16a5 5 0 0 0 5 5 4.92 4.92 0 0 0 1.902-.391l2.956 2.956A8.94 8.94 0 0 1 16 25zM4.354 5.646a.502.502 0 0 0-.708.708l1.919 1.918A12.913 12.913 0 0 0 3 16c0 7.18 5.82 13 13 13 2.899 0 5.567-.96 7.728-2.565l1.918 1.919a.502.502 0 0 0 .708 0 .502.502 0 0 0 0-.708l-22-22z" fill="--color--"/></svg>'
    ),
  profile : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M5 26.081a5.652 5.652 0 0 1 3.93-5.164l3.253-1.464a1.507 1.507 0 0 0 1.049-1.436v-1.601c0-.318-.127-.625-.363-.839-.651-.588-1.952-2.023-1.957-4.089 0-.008.002-.012-.005-.016-.066-.042-.78-.525-.78-1.6 0-.996.692-1.272.854-1.322.019-.007.026-.026.019-.045-.167-.432-1.728-4.661 1.294-4.097.01.002.019-.001.024-.009.103-.165 1.274-1.899 5.077-1.899 3.983 0 4.875 2.275 3.288 6.012-.007.015-.002.031.013.038.131.053.73.35.73 1.322 0 1.061-.359 1.606-.755 1.636-.019.001-.033.013-.031.031.024.279.147 2.423-1.551 4.139a1.185 1.185 0 0 0-.363.829v1.528c0 .647.413 1.222 1.027 1.428l3.395 1.514a5.65 5.65 0 0 1 3.848 5.159v1.805a2.063 2.063 0 0 1-2.062 2.063H7.062A2.063 2.063 0 0 1 5 27.941v-1.86z" fill="--color--"/></svg>'
    ),
  profile--error : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M20.663 11.539c-.002-.02.012-.03.031-.032.396-.03.755-.574.755-1.635 0-.972-.599-1.27-.73-1.323-.015-.006-.019-.022-.013-.037 1.587-3.737.695-6.012-3.288-6.012-3.803 0-4.974 1.734-5.076 1.899a.024.024 0 0 1-.025.009c-1.528-.286-1.883.655-1.84 1.71l9.058 9.058c1.239-1.607 1.15-3.385 1.128-3.637M30.776 29.123L5.853 4.203a.5.5 0 0 0-.707.707l5.007 5.006c.021 1.043.712 1.514.777 1.556.007.004.005.008.005.017.005 2.064 1.306 3.5 1.957 4.088.236.213.363.522.363.839v1.6c0 .657-.424 1.238-1.049 1.437l-3.253 1.465a5.649 5.649 0 0 0-3.93 5.163v1.86c0 1.139.923 2.063 2.062 2.063h17.872a2.063 2.063 0 0 0 2.062-2.064v-1.159l3.05 3.05a.498.498 0 0 0 .707 0 .5.5 0 0 0 0-.707" fill="--color--"/></svg>'
    ),
  profile-dropdown : (
    height: $mf-buffer__xl,
    width:  36px,
    svg:    '<svg height="32" viewBox="0 0 36 32" width="36" xmlns="http://www.w3.org/2000/svg"><path d="M5,26.081 C5.093,23.704 6.664,21.64 8.93,20.917 L12.183,19.453 C12.808,19.254 13.232,18.673 13.232,18.017 L13.232,16.416 C13.232,16.098 13.105,15.791 12.869,15.577 C12.218,14.989 10.917,13.554 10.912,11.488 C10.912,11.48 10.914,11.476 10.907,11.472 C10.841,11.43 10.127,10.947 10.127,9.872 C10.127,8.876 10.819,8.6 10.981,8.55 C11,8.543 11.007,8.524 11,8.505 C10.833,8.073 9.272,3.844 12.294,4.408 C12.304,4.41 12.313,4.407 12.318,4.399 C12.421,4.234 13.592,2.5 17.395,2.5 C21.378,2.5 22.27,4.775 20.683,8.512 C20.676,8.527 20.681,8.543 20.696,8.55 C20.827,8.603 21.426,8.9 21.426,9.872 C21.426,10.933 21.067,11.478 20.671,11.508 C20.652,11.509 20.638,11.521 20.64,11.539 C20.664,11.818 20.787,13.962 19.089,15.678 C18.868,15.901 18.726,16.192 18.726,16.507 L18.726,18.035 C18.726,18.682 19.139,19.257 19.753,19.463 L23.148,20.977 C25.38,21.727 26.914,23.782 26.996,26.136 L26.996,27.941 C26.996,29.08 26.073,30.004 24.934,30.004 L7.062,30.004 C5.923,30.004 5,29.08 5,27.941 L5,26.081 Z" fill="--color--" fill-rule="evenodd"/><path d="M2.3497404,8 C2.17054712,8 1.99135384,7.93186922 1.85509229,7.79467437 C1.58163587,7.52121795 1.58163587,7.07883454 1.85509229,6.80537813 L4.65965378,3.99988334 L1.85509229,1.19532184 C1.58163587,0.92186543 1.58163587,0.478548721 1.85509229,0.205092309 C2.1285487,-0.068364103 2.57093211,-0.068364103 2.84438852,0.205092309 L6.14453143,3.50523522 C6.41798784,3.77869163 6.41798784,4.22200834 6.14453143,4.49546475 L2.84438852,7.79467437 C2.70812696,7.93186922 2.52893368,8 2.3497404,8" fill="--color--" fill-rule="evenodd" transform="rotate(90 12 24)"/></svg>'
    ),
  profile-dropdown--active : (
    height: $mf-buffer__xl,
    width:  36px,
    svg:    '<svg height="32" viewBox="0 0 36 32" width="36" xmlns="http://www.w3.org/2000/svg"><path d="M5,26.081 C5.093,23.704 6.664,21.64 8.93,20.917 L12.183,19.453 C12.808,19.254 13.232,18.673 13.232,18.017 L13.232,16.416 C13.232,16.098 13.105,15.791 12.869,15.577 C12.218,14.989 10.917,13.554 10.912,11.488 C10.912,11.48 10.914,11.476 10.907,11.472 C10.841,11.43 10.127,10.947 10.127,9.872 C10.127,8.876 10.819,8.6 10.981,8.55 C11,8.543 11.007,8.524 11,8.505 C10.833,8.073 9.272,3.844 12.294,4.408 C12.304,4.41 12.313,4.407 12.318,4.399 C12.421,4.234 13.592,2.5 17.395,2.5 C21.378,2.5 22.27,4.775 20.683,8.512 C20.676,8.527 20.681,8.543 20.696,8.55 C20.827,8.603 21.426,8.9 21.426,9.872 C21.426,10.933 21.067,11.478 20.671,11.508 C20.652,11.509 20.638,11.521 20.64,11.539 C20.664,11.818 20.787,13.962 19.089,15.678 C18.868,15.901 18.726,16.192 18.726,16.507 L18.726,18.035 C18.726,18.682 19.139,19.257 19.753,19.463 L23.148,20.977 C25.38,21.727 26.914,23.782 26.996,26.136 L26.996,27.941 C26.996,29.08 26.073,30.004 24.934,30.004 L7.062,30.004 C5.923,30.004 5,29.08 5,27.941 L5,26.081 Z" fill="--color--" fill-rule="evenodd"/><path d="M6.14499998,3.5048 L2.84499998,0.2048 C2.64499998,0.0048 2.34299998,-0.0552 2.08199998,0.0528 C1.81999998,0.1618 1.64999998,0.4168 1.64999998,0.6998 L1.64999998,7.2998 C1.64999998,7.5828 1.81999998,7.8378 2.08199998,7.9468 C2.16799998,7.9828 2.25999998,7.9998 2.34999998,7.9998 C2.53199998,7.9998 2.71099998,7.9288 2.84499998,7.7948 L6.14499998,4.4948 C6.41799998,4.2208 6.41799998,3.7778 6.14499998,3.5048" fill="--color--" fill-rule="evenodd" transform="rotate(90 12 24)"/></svg>'
    ),
  profile-group : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M30.997 24.507s-.015-2.477-2.002-3.167c-1.005-.348-3.148-1.084-3.332-1.152-.186-.067-.29-.11-.378-.144-.087-.033-.145-.145-.145-.252l.002-.366s2.227-.036 3.69-1.02c0 0-1.723-1.049-1.412-4.204.313-3.154-.388-5.924-2.923-5.69 0 0-1.1-1.322-3.287-.49-.75.285-2.765 1.007-2.663 5.378.063 2.717-.55 3.99-1.024 4.563l2.415 1.078c3.105 1.341 4.947 3.865 5.053 6.924l.003.035v1.117h4.034c1.152 0 1.97-.934 1.969-2.086v-.524z" fill="--color--"/><path d="M1 25.98a5.652 5.652 0 0 1 3.93-5.163l3.253-1.464a1.507 1.507 0 0 0 1.049-1.436v-1.601c0-.318-.127-.625-.363-.84-.651-.587-1.952-2.022-1.957-4.088 0-.008.002-.012-.005-.016-.066-.042-.78-.525-.78-1.6 0-.996.692-1.272.854-1.322.019-.007.026-.026.019-.045-.167-.432-1.728-4.661 1.294-4.097.01.002.019-.001.024-.01.103-.164 1.274-1.898 5.077-1.898 3.983 0 4.875 2.275 3.288 6.012-.007.015-.002.03.013.038.131.053.73.35.73 1.322 0 1.06-.359 1.606-.755 1.636-.019 0-.033.013-.031.03.024.28.147 2.424-1.551 4.14a1.185 1.185 0 0 0-.363.829v1.528c0 .647.413 1.222 1.027 1.428l3.395 1.514a5.65 5.65 0 0 1 3.848 5.159v1.805a2.063 2.063 0 0 1-2.062 2.063H3.062A2.063 2.063 0 0 1 1 27.84v-1.86z" fill="--color--"/></svg>'
    ),
  profile-group--error : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M31 24.507s-.015-2.477-2.001-3.167c-1.005-.348-3.148-1.084-3.333-1.152-.186-.067-.29-.11-.377-.144-.087-.033-.146-.145-.146-.252l.002-.366s2.227-.036 3.69-1.02c0 0-1.722-1.049-1.411-4.204.312-3.154-.388-5.924-2.923-5.69 0 0-1.1-1.322-3.287-.49-.751.285-2.766 1.007-2.664 5.378.048 2.033-.284 3.257-.653 3.985l9.732 9.732h1.402c1.152 0 1.97-.934 1.969-2.086v-.524zM16.64 11.439c-.002-.02.012-.03.03-.032.397-.03.756-.574.756-1.635 0-.972-.6-1.27-.73-1.323-.015-.006-.02-.022-.013-.037 1.587-3.737.695-6.012-3.288-6.012-3.803 0-4.974 1.734-5.076 1.899a.024.024 0 0 1-.025.009c-1.49-.278-1.864.61-1.842 1.633l9.095 9.094c1.205-1.596 1.115-3.346 1.093-3.596M2.87 5.065a.5.5 0 0 0-.708.707L6.13 9.74l-.002.032c0 1.075.714 1.558.78 1.6.007.004.004.008.004.017.006 2.065 1.307 3.5 1.958 4.09.236.212.363.52.363.837v1.601c0 .656-.424 1.237-1.049 1.436L4.93 20.817A5.649 5.649 0 0 0 1 25.98v1.86c0 1.14.923 2.063 2.062 2.063h17.872a2.063 2.063 0 0 0 2.062-2.063v-1.235l3.214 3.213a.498.498 0 1 0 .707-.707L2.87 5.065z" fill="--color--"/></svg>'
    ),
  profile-group--question : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M30.9965,24.5072023 C30.9965,24.5072023 30.9815,22.0302023 28.9955,21.3402023 C27.9905,20.9922023 25.8475,20.2562023 25.6625,20.1882023 C25.4765,20.1212023 25.3725,20.0772023 25.2855,20.0442023 C25.1985,20.0112023 25.1395,19.8992023 25.1395,19.7922023 C25.1395,19.6862023 25.1415,19.4262023 25.1415,19.4262023 C25.1415,19.4262023 27.3685,19.3902023 28.8315,18.4052023 C28.8315,18.4052023 27.1095,17.3572023 27.4205,14.2022023 C27.7325,11.0482023 27.0325,8.27820234 24.4975,8.51220234 C24.4975,8.51220234 23.3975,7.19020234 21.2105,8.02120234 C20.4595,8.30720234 18.4445,9.02920234 18.5465,13.4002023 C18.6105,16.1172023 17.9965,17.3892023 17.5225,17.9632023 L19.9375,19.0412023 C23.0425,20.3822023 24.8845,22.9062023 24.9915,25.9652023 L24.9935,26.0002023 L24.9935,26.0352023 L24.9935,27.1172023 L29.0275,27.1172023 C30.1795,27.1172023 30.9975,26.1832023 30.9965,25.0312023 L30.9965,24.5072023 Z" fill="--color--"/><path d="M1,25.9806023 C1.093,23.6036023 2.664,21.5396023 4.93,20.8166023 L8.183,19.3526023 C8.808,19.1536023 9.232,18.5726023 9.232,17.9166023 L9.232,16.3156023 C9.232,15.9976023 9.105,15.6906023 8.869,15.4766023 C8.218,14.8886023 6.917,13.4536023 6.912,11.3876023 C6.912,11.3796023 6.914,11.3756023 6.907,11.3716023 C6.841,11.3296023 6.127,10.8466023 6.127,9.77160234 C6.127,8.77560234 6.819,8.49960234 6.981,8.44960234 C7,8.44260234 7.007,8.42360234 7,8.40460234 C6.833,7.97260234 5.272,3.74360234 8.294,4.30760234 C8.304,4.30960234 8.313,4.30660234 8.318,4.29860234 C8.421,4.13360234 9.592,2.39960234 13.395,2.39960234 C17.378,2.39960234 18.27,4.67460234 16.683,8.41160234 C16.676,8.42660234 16.681,8.44260234 16.696,8.44960234 C16.827,8.50260234 17.426,8.79960234 17.426,9.77160234 C17.426,10.8326023 17.067,11.3776023 16.671,11.4076023 C16.652,11.4086023 16.638,11.4206023 16.64,11.4386023 C16.664,11.7176023 16.787,13.8616023 15.089,15.5776023 C14.868,15.8006023 14.726,16.0916023 14.726,16.4066023 L14.726,17.9346023 C14.726,18.5816023 15.139,19.1566023 15.753,19.3626023 L19.148,20.8766023 C21.38,21.6266023 22.914,23.6816023 22.996,26.0356023 L22.996,27.8406023 C22.996,28.9796023 22.073,29.9036023 20.934,29.9036023 L3.062,29.9036023 C1.923,29.9036023 1,28.9796023 1,27.8406023 L1,25.9806023 Z M11.8750184,16.5100002 C11.2750086,16.5100002 10.75,15.9850002 10.75,15.3850002 C10.75,14.7850002 11.2750086,14.2600002 11.8750184,14.2600002 C12.4750282,14.2600002 13.0000367,14.7850002 13.0000367,15.3850002 C13.0000367,15.9850002 12.4750282,16.5100002 11.8750184,16.5100002 Z M14.175,10.575 C13.875,10.95 13.425,11.175 13.35,11.175 L13.2,11.25 C13.125,11.325 12.45,11.55 12.45,12.45 C12.45,12.9 12.15,13.2 11.7,13.2 C11.25,13.2 10.95,12.9 10.95,12.45 C10.95,10.875 12,10.125 12.675,9.9 C12.75,9.825 12.975,9.75 13.05,9.6 C13.35,9.3 13.5,9 13.5,8.7 C13.5,8.1 12.975,7.575 12.375,7.575 C11.775,7.575 11.25,8.025 11.25,8.625 C11.25,9.075 10.95,9.375 10.5,9.375 C10.05,9.375 9.75,9.075 9.75,8.625 C9.75,7.2 10.95,6 12.375,6 C13.8,6 15,7.2 15,8.625 C15,9.3 14.775,9.975 14.175,10.575 Z" fill="--color--"/></g></svg>'
    ),
  radio--selected : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><g fill="--color--" transform="translate(8 8)"><path d="M1,8 C1,11.8602816 4.13728312,15 8,15 C11.8602816,15 15,11.8627169 15,8 C15,4.13971843 11.8627169,1 8,1 C4.13971843,1 1,4.13728312 1,8 Z M0,8 C0,3.581722 3.59071231,0 8,0 C12.418278,0 16,3.59071231 16,8 C16,12.418278 12.4092877,16 8,16 C3.581722,16 0,12.4092877 0,8 Z"/><circle cx="8" cy="8" r="5"/></g></svg>'
    ),
  radio--unselected : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M1,8 C1,11.8602816 4.13728312,15 8,15 C11.8602816,15 15,11.8627169 15,8 C15,4.13971843 11.8627169,1 8,1 C4.13971843,1 1,4.13728312 1,8 Z M0,8 C0,3.581722 3.59071231,0 8,0 C12.418278,0 16,3.59071231 16,8 C16,12.418278 12.4092877,16 8,16 C3.581722,16 0,12.4092877 0,8 Z" fill="--color--" transform="translate(8 8)"/></svg>'
    ),
  radio-large--selected : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16,29 C23.1797017,29 29,23.1797017 29,16 C29,8.82029825 23.1797017,3 16,3 C8.82029825,3 3,8.82029825 3,16 C3,23.1797017 8.82029825,29 16,29 Z M16,28 C9.372583,28 4,22.627417 4,16 C4,9.372583 9.372583,4 16,4 C22.627417,4 28,9.372583 28,16 C28,22.627417 22.627417,28 16,28 Z" fill="--color--"/><path d="M21.5557,12.4605 L15.3837,20.4545 C15.3737,20.4675 15.3577,20.4715 15.3467,20.4835 C15.3347,20.4985 15.3307,20.5175 15.3167,20.5325 C15.2587,20.5935 15.1857,20.6265 15.1167,20.6695 C15.0767,20.6955 15.0447,20.7305 15.0017,20.7495 C14.8707,20.8085 14.7327,20.8425 14.5917,20.8425 L14.5917,20.8425 L14.5917,20.8425 C14.4757,20.8425 14.3607,20.8185 14.2507,20.7785 C14.2137,20.7655 14.1827,20.7405 14.1477,20.7235 C14.0907,20.6945 14.0327,20.6735 13.9807,20.6335 C13.9667,20.6235 13.9607,20.6075 13.9477,20.5955 C13.9337,20.5845 13.9167,20.5805 13.9027,20.5675 L9.8817,16.7425 C9.4817,16.3615 9.4657,15.7295 9.8467,15.3295 C10.2287,14.9285 10.8607,14.9135 11.2597,15.2935 L14.4777,18.3545 L19.9737,11.2375 C20.3097,10.8005 20.9357,10.7185 21.3757,11.0575 C21.8127,11.3955 21.8937,12.0235 21.5557,12.4605 M16.0177,3.0005 C8.8287,3.0005 2.9997,8.8285 2.9997,16.0175 C2.9997,23.2075 8.8287,29.0355 16.0177,29.0355 C23.2077,29.0355 29.0357,23.2075 29.0357,16.0175 C29.0357,8.8285 23.2077,3.0005 16.0177,3.0005" fill="--color--"/></svg>'
    ),
  radio-large--unselected : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16,29 C23.1797017,29 29,23.1797017 29,16 C29,8.82029825 23.1797017,3 16,3 C8.82029825,3 3,8.82029825 3,16 C3,23.1797017 8.82029825,29 16,29 Z M16,28 C9.372583,28 4,22.627417 4,16 C4,9.372583 9.372583,4 16,4 C22.627417,4 28,9.372583 28,16 C28,22.627417 22.627417,28 16,28 Z" fill="--color--"/></svg>'
    ),
  refresh : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M27.2001,22.998 C27.7531,22.998 28.2001,23.445 28.2001,23.998 C28.2001,24.551 27.7531,24.998 27.2001,24.998 L20.2001,24.998 L20.2001,17.998 C20.2001,17.445 20.6471,16.998 21.2001,16.998 C21.7531,16.998 22.2001,17.445 22.2001,17.998 L22.2001,22.081 C23.7311,20.431 24.5971,18.29 24.5971,15.998 C24.5971,11.043 20.5661,7.007 15.6111,7 C15.0581,7 14.6111,6.551 14.6121,5.999 C14.6131,5.447 15.0601,5 15.6121,5 L15.6141,5 C21.6701,5.008 26.5971,9.942 26.5971,15.998 C26.5971,18.599 25.6981,21.048 24.0741,22.998 L27.2001,22.998 Z M15.599,24.9961 C16.151,24.9961 16.609,25.4431 16.609,25.9951 C16.609,26.5481 16.172,26.9951 15.62,26.9951 L15.618,26.9951 C9.533,26.9951 4.6,22.0621 4.6,15.9981 C4.6,13.3961 5.499,10.9471 7.122,8.9981 L4,8.9981 C3.448,8.9981 3,8.5501 3,7.9981 C3,7.4461 3.448,6.9981 4,6.9981 L11,6.9981 L11,13.9981 C11,14.5501 10.553,14.9981 10,14.9981 C9.448,14.9981 9,14.5501 9,13.9981 L9,9.9131 C7.468,11.5621 6.6,13.7031 6.6,15.9981 C6.6,20.9601 10.637,24.9961 15.599,24.9961 Z" fill="--color--" fill-rule="evenodd"/></svg>'
  ),
  send : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M8.0183902,8.74202831 L9.36910841,14.578251 C9.42244377,14.8275938 9.63578525,15.0229346 9.90246209,15.0402686 L17.4607505,15.7689631 C17.6734253,15.8049645 17.6734253,16.21298 17.4607505,16.2316474 L9.90246209,16.9263406 C9.63578525,16.9610086 9.42244377,17.1563494 9.36910841,17.4063589 L8.0183902,23.2585822 C7.89371878,23.7559345 8.42707246,24.1659502 8.88909009,23.934608 L23.6669873,16.5689936 C24.1110042,16.3389849 24.1110042,15.6982937 23.6669873,15.4669516 L8.88909009,8.06666921 C8.79775327,8.02066746 8.70374969,8 8.61241287,8 C8.24239875,8 7.91838639,8.34267974 8.0183902,8.74202831 L8.0183902,8.74202831 Z" fill="--color--"/></svg>'
    ),
  star : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16.417 20.875L11.208 24l1.375-5.917-4.583-4 6.042-.5L16.417 8l2.375 5.583 6.041.5-4.583 4L21.625 24z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  to-do : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M21.556 12.46l-6.172 7.994c-.01.014-.026.017-.037.03-.012.014-.016.033-.03.048-.058.061-.131.095-.2.137-.04.026-.072.061-.115.08a.997.997 0 0 1-.41.094 1 1 0 0 1-.341-.064c-.037-.014-.068-.038-.103-.055-.057-.03-.115-.05-.167-.09-.014-.01-.02-.026-.033-.038-.014-.012-.031-.015-.045-.029l-4.021-3.825a.999.999 0 1 1 1.378-1.449l3.218 3.062 5.496-7.117a1 1 0 0 1 1.582 1.223M16.018 3C8.828 3 3 8.829 3 16.017c0 7.19 5.829 13.018 13.018 13.018 7.19 0 13.018-5.828 13.018-13.018 0-7.188-5.828-13.016-13.018-13.016" fill="--color--"/></svg>'
    ),
  vital-signs : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M25.44 14.955h-4.612l-2.093 4.367a1.802 1.802 0 0 1-1.64 1.034l-.04-.001a1.802 1.802 0 0 1-1.637-1.102l-3.316-7.738-1.44 3.189a1.824 1.824 0 0 1-1.66 1.072H5.56a1.002 1.002 0 0 1 0-2.002h3.325l1.561-3.457c.3-.662.934-1.073 1.66-1.073h.018c.733.009 1.368.431 1.657 1.105l3.32 7.748 1.97-4.11a1.826 1.826 0 0 1 1.643-1.034h4.725a1 1 0 1 1 0 2.002M31 11.192A8.192 8.192 0 0 0 22.808 3a8.156 8.156 0 0 0-6.22 2.873.767.767 0 0 1-1.176 0A8.156 8.156 0 0 0 9.192 3 8.192 8.192 0 0 0 1 11.192c0 .09.004.179.007.268H1s0 10.892 14.708 17.02c.048.02.154.052.292.06a.969.969 0 0 0 .292-.06C31 22.353 31 11.46 31 11.46h-.007c.003-.089.007-.178.007-.268" fill="--color--"/></svg>'
    ),
  x : (
    height: $mf-buffer__xl,
    width:  $mf-buffer__xl,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M17.4 16l3.8-3.8c.4-.4.4-1 0-1.4s-1-.4-1.4 0L16 14.6l-3.8-3.8c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l3.8 3.8-3.8 3.8c-.4.4-.4 1 0 1.4s1 .4 1.4 0l3.8-3.8 3.8 3.8c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L17.4 16z" fill="--color--"/></svg>'
    ),




  /* Exact sizes */
  arrow-down--exact : (
    height: 10px,
    width:  9px,
    svg:    '<svg height="10" viewBox="0 0 9 10" width="9" xmlns="http://www.w3.org/2000/svg"><path d="M8.85325,4.54600001 C8.65825,4.35100001 8.34125,4.35100001 8.14625,4.54600001 L4.99925,7.69200001 L4.99925,0.900000006 C4.99925,0.623000006 4.77625,0.400000006 4.49925,0.400000006 C4.22325,0.400000006 3.99925,0.623000006 3.99925,0.900000006 L3.99925,7.69200001 L0.85325,4.54600001 C0.65825,4.35100001 0.34125,4.35100001 0.14625,4.54600001 C-0.04875,4.74100001 -0.04875,5.05800001 0.14625,5.25300001 L4.49925,9.60700001 L8.85325,5.25300001 C9.04825,5.05800001 9.04825,4.74100001 8.85325,4.54600001" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  arrow-up--exact : (
    height: 10px,
    width:  9px,
    svg:    '<svg height="10" viewBox="0 0 9 10" width="9" xmlns="http://www.w3.org/2000/svg"><path d="M8.8535,4.75400001 L4.4995,0.400000006 L0.1465,4.75400001 C-0.0485,4.94900001 -0.0485,5.26600001 0.1465,5.46100001 C0.3415,5.65600001 0.6585,5.65600001 0.8535,5.46100001 L3.9995,2.31500001 L3.9995,9.10800001 C3.9995,9.38400001 4.2235,9.60800001 4.4995,9.60800001 C4.7765,9.60800001 4.9995,9.38400001 4.9995,9.10800001 L4.9995,2.31500001 L8.1465,5.46100001 C8.2445,5.55900001 8.3725,5.60800001 8.4995,5.60800001 C8.6275,5.60800001 8.7555,5.55900001 8.8535,5.46100001 C9.0485,5.26600001 9.0485,4.94900001 8.8535,4.75400001" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  attach--exact : (
    height: 21px,
    width:  10px,
    svg:    '<svg height="21" viewBox="0 0 10 21" width="10" xmlns="http://www.w3.org/2000/svg"><path d="M7.93 5.5h1.25v9.18c0 1.276-.449 2.357-1.348 3.242-.898.885-1.986 1.328-3.261 1.328-1.277 0-2.358-.443-3.243-1.328C.443 17.037 0 15.956 0 14.68V5.07c0-.911.326-1.692.977-2.343s1.432-.977 2.344-.977c.911 0 1.699.326 2.363.977.664.651.996 1.432.996 2.343v9.61c0 .573-.202 1.061-.605 1.465-.405.404-.906.605-1.504.605-.6 0-1.094-.195-1.485-.586-.39-.391-.586-.885-.586-1.484V6.75h1.25v7.93c0 .234.078.429.235.586a.794.794 0 0 0 .586.234.864.864 0 0 0 .605-.234.767.767 0 0 0 .254-.586V5.07c0-.572-.202-1.06-.605-1.465C4.42 3.202 3.919 3 3.321 3c-.6 0-1.094.195-1.485.586-.39.391-.586.886-.586 1.484v9.61c0 .912.326 1.693.977 2.343.651.652 1.432.977 2.344.977.911 0 1.699-.325 2.363-.977.664-.65.996-1.431.996-2.343V5.5z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  broadcast-message--exact : (
    height: 12px,
    width:  21px,
    svg:    '<svg height="12" viewBox="0 0 21 12" width="21" xmlns="http://www.w3.org/2000/svg"><path d="M16.5315,2.4483 C16.2725,2.2193 15.8745,2.2443 15.6455,2.5043 C15.4165,2.7643 15.4405,3.1613 15.7005,3.3903 C16.3735,3.9833 16.7445,4.9313 16.7445,6.0593 C16.7445,7.0953 16.4105,7.8783 15.6955,8.5223 C15.4385,8.7543 15.4175,9.1523 15.6495,9.4103 C15.7735,9.5473 15.9455,9.6173 16.1165,9.6173 C16.2655,9.6173 16.4175,9.5633 16.5375,9.4553 C17.5075,8.5803 17.9995,7.4373 17.9995,6.0593 C17.9995,4.5653 17.4785,3.2833 16.5315,2.4483" fill="--color--"/><path d="M18.7303.3946C18.4913.1426 18.0943.1316 17.8433.3706 17.5913.6096 17.5803 1.0056 17.8193 1.2576 19.0603 2.5696 19.7443 4.2646 19.7443 6.0296 19.7443 7.8446 19.0493 9.5566 17.7883 10.8536 17.5463 11.1016 17.5513 11.4996 17.8003 11.7406 17.9223 11.8596 18.0803 11.9186 18.2383 11.9186 18.4023 11.9186 18.5653 11.8546 18.6883 11.7286 20.1793 10.1966 21.0003 8.1726 21.0003 6.0286 21.0003 3.9416 20.1943 1.9406 18.7303.3946M10.4774184 3.69733333L5.77806977 6.98666667 1.07872118 3.69733333C.877377672 3.55644444.828486312 3.27955556.968937854 3.07822222 1.11027833 2.87733333 1.38718121 2.82844444 1.58808025 2.96888889L5.77806977 5.90177778 9.96805929 2.96888889C10.1680694 2.82844444 10.4463057 2.87688889 10.5867572 3.07822222 10.7272088 3.27955556 10.6787619 3.55644444 10.4774184 3.69733333M11.220567 2.328C10.9970002 2.10933333 10.7392094 2 10.4467501 2L1.10894493 2C.816930173 2 .5586949 2.10933333.335128047 2.328.111561193 2.54711111-.55271368e-15 2.79955556-.55271368e-15 3.08577778L-.55271368e-15 8.91377778C-.55271368e-15 9.2.111561193 9.45288889.335128047 9.67155556.5586949 9.89022222.816930173 10 1.10894493 10L10.4467501 10C10.7392094 10 10.9970002 9.89022222 11.220567 9.67155556 11.4441339 9.45288889 11.5561395 9.2 11.5561395 8.91377778L11.5561395 3.08577778C11.5561395 2.79955556 11.4441339 2.54711111 11.220567 2.328" fill="--color--"/></svg>'
    ),
  checkbox--checked--exact : (
    height: 16px,
    width:  16px,
    svg:    '<svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M1,3.99620271 L1,12.0037973 C1,13.6587579 2.34131869,15 3.99620271,15 L12.0037973,15 C13.6587579,15 15,13.6586813 15,12.0037973 L15,3.99620271 C15,2.34124206 13.6586813,1 12.0037973,1 L3.99620271,1 C2.34124206,1 1,2.34131869 1,3.99620271 Z M0,3.99620271 C0,1.78916089 1.78883037,0 3.99620271,0 L12.0037973,0 C14.2108391,0 16,1.78883037 16,3.99620271 L16,12.0037973 C16,14.2108391 14.2111696,16 12.0037973,16 L3.99620271,16 C1.78916089,16 0,14.2111696 0,12.0037973 L0,3.99620271 Z" fill="--color--"/><path d="M6.02325,13.3905 L2.29325,9.6605 C1.90225,9.2695 1.90225,8.6365 2.29325,8.2455 C2.68325,7.8555 3.31625,7.8555 3.70725,8.2455 L6.02325,10.5625 L12.29325,4.2925 C12.68325,3.9025 13.31625,3.9025 13.70725,4.2925 C14.09725,4.6835 14.09725,5.3165 13.70725,5.7065 L6.02325,13.3905 Z" fill="--color--"/></svg>'
    ),
  checkbox--unchecked--exact : (
    height: 16px,
    width:  16px,
    svg:    '<svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M1,3.99620271 L1,12.0037973 C1,13.6587579 2.34131869,15 3.99620271,15 L12.0037973,15 C13.6587579,15 15,13.6586813 15,12.0037973 L15,3.99620271 C15,2.34124206 13.6586813,1 12.0037973,1 L3.99620271,1 C2.34124206,1 1,2.34131869 1,3.99620271 Z M0,3.99620271 C0,1.78916089 1.78883037,0 3.99620271,0 L12.0037973,0 C14.2108391,0 16,1.78883037 16,3.99620271 L16,12.0037973 C16,14.2108391 14.2111696,16 12.0037973,16 L3.99620271,16 C1.78916089,16 0,14.2111696 0,12.0037973 L0,3.99620271 Z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  check-v01--exact : (
    height: 11px,
    width:  14px,
    svg:    '<svg height="11" viewBox="0 0 14 11" width="14" xmlns="http://www.w3.org/2000/svg"><path d="M4.8428,10.3771 C4.6548,10.5651 4.4438,10.6581 4.2098,10.6581 C3.9748,10.6581 3.7638,10.5651 3.5768,10.3771 L0.2548,7.0551 C-0.0852,6.7151 -0.0852,6.1641 0.2548,5.8241 L0.2898,5.7891 C0.6298,5.4491 1.1808,5.4491 1.5208,5.7891 L4.2098,8.4791 L12.3658,0.2571 C12.7118,-0.0919 13.2788,-0.0849 13.6158,0.2731 C13.9398,0.6151 13.9338,1.1491 13.6058,1.4831 L4.8428,10.3771 Z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  check-v02--exact : (
    height: 11px,
    width:  11px,
    svg:    '<svg height="11" viewBox="0 0 11 11" width="11" xmlns="http://www.w3.org/2000/svg"><path d="M10.5.1C10-.1 9.4 0 9.1.5L4.8 8.4 1.7 5.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l4 4 .1.1c.1.1.2.1.3.2h.4c.1 0 .3-.1.4-.2.1-.1.2-.1.2-.2l.1-.1 5-9c.3-.5.2-1.1-.3-1.4z" fill="--color--"/></svg>'
    ),
  chevron-down--exact : (
    height: 8px,
    width:  8px,
    svg:    '<svg height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg"><path d="M4.495 6.145l3.3-3.3A.701.701 0 0 0 7.3 1.65H.7a.7.7 0 0 0-.495 1.195l3.3 3.3a.7.7 0 0 0 .99 0" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  chevron-left--exact : (
    height: 8px,
    width:  8px,
    svg:    '<svg height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg"><path d="M1.855 4.495l3.3 3.3A.701.701 0 0 0 6.35 7.3V.7A.7.7 0 0 0 5.155.205l-3.3 3.3a.7.7 0 0 0 0 .99" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  chevron-right--exact : (
    height: 8px,
    width:  8px,
    svg:    '<svg height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg"><path d="M6.145 3.505l-3.3-3.3A.701.701 0 0 0 1.65.7v6.6a.7.7 0 0 0 1.195.495l3.3-3.3a.7.7 0 0 0 0-.99" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  chevron-up--exact : (
    height: 8px,
    width:  8px,
    svg:    '<svg height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg"><path d="M.205 5.155A.701.701 0 0 0 .7 6.35h6.6a.7.7 0 0 0 .495-1.195l-3.3-3.3a.7.7 0 0 0-.99 0l-3.3 3.3z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  chevron-down--hollow--exact : (
    height: 8px,
    width:  8px,
    svg:    '<svg height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg"><path d="M0 2.35a.7.7 0 0 1 1.195-.495L4 4.66l2.805-2.805a.7.7 0 0 1 .99.99l-3.3 3.3a.7.7 0 0 1-.99 0l-3.3-3.3A.694.694 0 0 1 0 2.35" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  chevron-left--hollow--exact : (
    height: 8px,
    width:  8px,
    svg:    '<svg height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg"><path d="M5.65 0a.7.7 0 0 1 .495 1.195L3.34 4l2.805 2.805a.7.7 0 0 1-.99.99l-3.3-3.3a.7.7 0 0 1 0-.99l3.3-3.3A.694.694 0 0 1 5.65 0" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  chevron-right--hollow--exact : (
    height: 8px,
    width:  8px,
    svg:    '<svg height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg"><path d="M2.35 8a.7.7 0 0 1-.495-1.195L4.66 4 1.855 1.195a.7.7 0 0 1 .99-.99l3.3 3.3a.7.7 0 0 1 0 .99l-3.3 3.3A.694.694 0 0 1 2.35 8" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  chevron-up--hollow--exact : (
    height: 8px,
    width:  8px,
    svg:    '<svg height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg"><path d="M8 5.65a.7.7 0 0 1-1.195.495L4 3.34 1.195 6.145a.7.7 0 0 1-.99-.99l3.3-3.3a.7.7 0 0 1 .99 0l3.3 3.3A.694.694 0 0 1 8 5.65" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  menu-dots--exact : (
    height: 16px,
    width:  4px,
    svg:    '<svg height="16" viewBox="0 0 4 16" width="4" xmlns="http://www.w3.org/2000/svg"><path d="M3.4 15.4c-.4.4-.867.6-1.4.6-.533 0-1-.2-1.4-.6C.2 15 0 14.533 0 14c0-.533.2-1 .6-1.4.4-.4.867-.6 1.4-.6.533 0 1 .2 1.4.6.4.4.6.867.6 1.4 0 .533-.2 1-.6 1.4zM3.4 9.4c-.4.4-.867.6-1.4.6-.533 0-1-.2-1.4-.6C.2 9 0 8.533 0 8c0-.533.2-1 .6-1.4C1 6.2 1.467 6 2 6c.533 0 1 .2 1.4.6.4.4.6.867.6 1.4 0 .533-.2 1-.6 1.4zM3.4 3.4C3 3.8 2.533 4 2 4c-.533 0-1-.2-1.4-.6C.2 3 0 2.533 0 2 0 1.467.2 1 .6.6 1 .2 1.467 0 2 0c.533 0 1 .2 1.4.6.4.4.6.867.6 1.4 0 .533-.2 1-.6 1.4z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  medfusion-plus--exact : (
    height: 24px,
    width:  24px,
    svg:    '<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M23.49 8a16 16 0 0 0-10.07 4A16.09 16.09 0 0 0 12 13.42 16 16 0 0 1 13.85 16 15.91 15.91 0 0 1 16 23.49a.64.64 0 0 0 0-.13V16h7.49a.64.64 0 0 0 .51-.63V8.64a.64.64 0 0 0-.51-.64z" fill="--color--" opacity="1"/><path d="M13.85 16A16 16 0 0 0 12 13.42 16.09 16.09 0 0 0 10.58 12 16 16 0 0 1 8 13.85 15.91 15.91 0 0 1 .51 16H8v7.36a.64.64 0 0 0 .64.64h6.72a.64.64 0 0 0 .63-.51A15.91 15.91 0 0 0 13.85 16z" fill="--color--" opacity=".85"/><path d="M8 10.15A15.91 15.91 0 0 0 .51 8a.64.64 0 0 0-.51.64v6.72a.64.64 0 0 0 .51.64A15.91 15.91 0 0 0 8 13.85 16 16 0 0 0 10.58 12 16 16 0 0 0 8 10.15z" fill="--color--" opacity=".7"/><path d="M15.36 0H8.64A.64.64 0 0 0 8 .64V8H.51A15.91 15.91 0 0 1 8 10.15 16 16 0 0 1 10.58 12 16.09 16.09 0 0 0 12 10.58 16 16 0 0 0 13.85 8 15.91 15.91 0 0 0 16 .51a.64.64 0 0 0-.64-.51z" fill="--color--" opacity=".55"/></svg>'
    ),
  radio--selected--exact : (
    height: 16px,
    width:  16px,
    svg:    '<svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><g fill="--color--" fill-rule="evenodd"><path d="M1,8 C1,11.8602816 4.13728312,15 8,15 C11.8602816,15 15,11.8627169 15,8 C15,4.13971843 11.8627169,1 8,1 C4.13971843,1 1,4.13728312 1,8 Z M0,8 C0,3.581722 3.59071231,0 8,0 C12.418278,0 16,3.59071231 16,8 C16,12.418278 12.4092877,16 8,16 C3.581722,16 0,12.4092877 0,8 Z"/><circle cx="8" cy="8" r="5"/></g></svg>'
    ),
  radio--unselected--exact : (
    height: 16px,
    width:  16px,
    svg:    '<svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M1,8 C1,11.8602816 4.13728312,15 8,15 C11.8602816,15 15,11.8627169 15,8 C15,4.13971843 11.8627169,1 8,1 C4.13971843,1 1,4.13728312 1,8 Z M0,8 C0,3.581722 3.59071231,0 8,0 C12.418278,0 16,3.59071231 16,8 C16,12.418278 12.4092877,16 8,16 C3.581722,16 0,12.4092877 0,8 Z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  send--exact : (
    height: 16px,
    width:  16px,
    svg:    '<svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M0.0183902012,0.742028313 L1.36910841,6.578251 C1.42244377,6.82759385 1.63578525,7.02293464 1.90246209,7.04026863 L9.46075049,7.7689631 C9.67342527,7.80496448 9.67342527,8.21298004 9.46075049,8.23164742 L1.90246209,8.9263406 C1.63578525,8.96100859 1.42244377,9.15634937 1.36910841,9.40635891 L0.0183902012,15.2585822 C-0.106281222,15.7559345 0.427072462,16.1659502 0.889090091,15.934608 L15.6669873,8.56899363 C16.1110042,8.33898485 16.1110042,7.69829374 15.6669873,7.46695158 L0.889090091,0.0666692105 C0.797753272,0.0206674553 0.703749685,0 0.612412867,0 C0.242398749,0 -0.0816136146,0.342679742 0.0183902012,0.742028313 L0.0183902012,0.742028313 Z" fill="--color--"/></svg>'
    ),
  speaker--exact : (
    height: 12px,
    width:  16px,
    svg:    '<svg height="12" viewBox="0 0 16 12" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M11.5315,2.4483 C11.2725,2.2193 10.8745,2.2443 10.6455,2.5043 C10.4165,2.7643 10.4405,3.1613 10.7005,3.3903 C11.3735,3.9833 11.7445,4.9313 11.7445,6.0593 C11.7445,7.0953 11.4105,7.8783 10.6955,8.5223 C10.4385,8.7543 10.4175,9.1523 10.6495,9.4103 C10.7735,9.5473 10.9455,9.6173 11.1165,9.6173 C11.2655,9.6173 11.4175,9.5633 11.5375,9.4553 C12.5075,8.5803 12.9995,7.4373 12.9995,6.0593 C12.9995,4.5653 12.4785,3.2833 11.5315,2.4483" fill="--color--"/><path d="M13.7303.3946C13.4913.1426 13.0943.1316 12.8433.3706 12.5913.6096 12.5803 1.0056 12.8193 1.2576 14.0603 2.5696 14.7443 4.2646 14.7443 6.0296 14.7443 7.8446 14.0493 9.5566 12.7883 10.8536 12.5463 11.1016 12.5513 11.4996 12.8003 11.7406 12.9223 11.8596 13.0803 11.9186 13.2383 11.9186 13.4023 11.9186 13.5653 11.8546 13.6883 11.7286 15.1793 10.1966 16.0003 8.1726 16.0003 6.0286 16.0003 3.9416 15.1943 1.9406 13.7303.3946M7 0L6 0 3 3C3 3 1.007 2.999 1 3 .448 3 0 3.448 0 4L0 8C0 8.552.448 9 1 9L3 9 6 12 7 12C7.552 12 8 11.552 8 11L8 1C8 .448 7.552 0 7 0" fill="--color--"/></svg>'
    ),
  x--exact : (
    height: 11px,
    width:  11px,
    svg:    '<svg height="11" viewBox="0 0 11 11" width="11" xmlns="http://www.w3.org/2000/svg"><path d="M10 11c-.3 0-.5-.1-.7-.3L5.5 6.9l-3.8 3.8c-.4.4-1 .4-1.4 0s-.4-1 0-1.4l3.8-3.8L.3 1.7C-.1 1.3-.1.7.3.3s1-.4 1.4 0l3.8 3.8L9.3.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L6.9 5.5l3.8 3.8c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z" fill="--color--"/></svg>'
    ),




  /* Logos */
  logo__medfusion-plus : (
    height: 32px,
    width:  32px,
    svg:    '<svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M31.32,10.6666667 C26.3603714,10.828772 21.6123927,12.7147615 17.8933333,16 C17.2234151,16.5910728 16.5910728,17.2234151 16,17.8933333 C16.938868,18.9547854 17.7696383,20.1071441 18.48,21.3333333 C20.2439383,24.3743598 21.2244367,27.8061045 21.3333333,31.32 C21.3392166,31.262372 21.3392166,31.2042947 21.3333333,31.1466667 L21.3333333,21.3333333 L31.32,21.3333333 C31.7176861,21.2508392 32.0021199,20.8994799 32,20.4933333 L32,11.52 C32.0085544,11.1088655 31.7226691,10.7501075 31.32,10.6666667 L31.32,10.6666667 Z" fill="#6569A2"/><path d="M18.48,21.3333333 C17.3201812,19.3307862 15.8432253,17.5296205 14.1066667,16 C13.0446101,16.9342314 11.8922724,17.7605201 10.6666667,18.4666667 C7.63081188,20.2331523 4.20383546,21.2181789 0.693333333,21.3333333 L10.6666667,21.3333333 L10.6666667,31.1466667 C10.6666667,31.6179497 11.048717,32 11.52,32 L20.48,32 C20.8861466,32.0021199 21.2375059,31.7176861 21.32,31.32 C21.2151682,27.8072574 20.2392728,24.3755874 18.48,21.3333333 L18.48,21.3333333 Z" fill="#7A7FBE"/><path d="M10.6666667,13.5333333 C7.63081188,11.7668477 4.20383546,10.7818211 0.693333333,10.6666667 C0.295647197,10.7491608 0.0112134793,11.1005201 0.0133333333,11.5066667 L0.0133333333,20.4666667 C0.0112134793,20.8728133 0.295647197,21.2241726 0.693333333,21.3066667 C4.20153112,21.1996409 7.62835811,20.2238199 10.6666667,18.4666667 C11.8922724,17.7605201 13.0446101,16.9342314 14.1066667,16 C13.0446101,15.0657686 11.8922724,14.2394799 10.6666667,13.5333333 L10.6666667,13.5333333 Z" fill="#7ECBEF"/><path d="M20.4933333,4.4408921e-16 L11.5333333,4.4408921e-16 C11.0620503,4.4408921e-16 10.68,0.382050347 10.68,0.853333333 L10.68,10.6666667 L0.693333333,10.6666667 C4.20383546,10.7818211 7.63081188,11.7668477 10.6666667,13.5333333 C11.8922724,14.2394799 13.0446101,15.0657686 14.1066667,16 C15.8432253,14.4703795 17.3201812,12.6692138 18.48,10.6666667 C20.2439383,7.62564018 21.2244367,4.19389554 21.3333333,0.68 C21.2508392,0.282313864 20.8994799,-0.00211985404 20.4933333,4.4408921e-16 L20.4933333,4.4408921e-16 Z" fill="#BDE5F6"/></svg>'
    ),




  /* Small sizes */
  new-data-dot--small : (
    height: 16px,
    width:  16px,
    svg:    '<svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" fill="--color--" fill-rule="evenodd"/></svg>'
    ),
  star--small : (
    height: 12px,
    width:  12px,
    svg:    '<svg height="12" viewBox="0 0 12 12" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M6 9.178l-3.713 2.228.98-4.218L0 4.337l4.307-.357L6 0l1.693 3.98L12 4.337 8.733 7.188l.98 4.218z" fill="--color--" fill-rule="evenodd"/></svg>'
    )
);

// Take the icon name you want and the color from our presets you want it to be, and return the proper SVG code
@function mf-icon($icon, $color: default) {
  $svg-data:  map-get(map-get($mf-icons, $icon), svg); // Get SVG data from our sub-map
  $color:     map-get($mf-color-presets, $color); // Get color code from our color presets

  $icon:      str-replace($svg-data, '--color--', $color); // Find and replace color placeholder with selected one from our color presets

  @if $mf-icons__base64 { // Base364 encode icons
    $icon:      encodeBase64($icon);
    @return "data:image/svg+xml;base64," + $icon;

  } @else { // Use inline SVG instead of base64, which is more compressible and results in smaller file sizes

    // Escape the SVG markup so that it can be processed without conflicts by the browser (looking at you, Firefox)
    $icon:      str-replace($icon, '"', '\'');
    $icon:      str-replace($icon, '%', '%25');
    $icon:      str-replace($icon, '#', '%23');
    $icon:      str-replace($icon, '{', '%7B');
    $icon:      str-replace($icon, '}', '%7D');
    $icon:      str-replace($icon, '<', '%3C');
    $icon:      str-replace($icon, '>', '%3E');
    @return "data:image/svg+xml;charset=UTF-8," + $icon;
  }
}

// Create classes for each of our icons
.mf-icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: $mf-buffer__xl $mf-buffer__xl;
	color: #fff;
	display: inline-block;
	font-size: $mf-font-size__base;
	height: $mf-buffer__xl;
	line-height: $mf-buffer__xl;
	margin-right: $mf-buffer__small;
	text-align: center;
	width: $mf-buffer__xl;

  // For each icon in our icon list above, create a class with the SVG image data embedded
  @each $iconname, $icondata in $mf-icons {
    &__#{$iconname} {
      $icon-height: map-get(map-get($mf-icons, #{$iconname}), height);
      $icon-width: map-get(map-get($mf-icons, #{$iconname}), width);
      background-image: url(mf-icon(#{$iconname}));
      background-size: $icon-width $icon-height;
      height: $icon-height;
      width: $icon-width;

      // For each color in our color presets, create a variation of that SVG in that color
      @each $colorname, $colorvalue in $mf-color-presets {
        &.mf-color__#{$colorname} {
          background-image: url(mf-icon(#{$iconname},$colorname));
        }
      }
    }
  }
}

.open .mf-icon {
    &__profile--knockout {
    background-image: url('../img/icons/profile.svg');
  }
}
.mf-icon--large {
  height: $mf-size__icon--large;
  width: $mf-size__icon--large;
}
