// DEFINE COMMON MF VARIABLES/STYLES FROM MF-UI-STANDARDS

$mf-font__file-location:  "../../public/fonts" !default; // No trailing slash

//@import "/node_modules/bootstrap";
@import "mf-ui-standards/variables";
@import "mf-ui-standards/principles/mf-typography";
@import "../../app-src/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "mf-ui-standards/util/mf-focus";
@import "mf-ui-standards/basics/mf-buttons";
@import "mf-ui-standards/basics/mf-icons";
@import "mf-ui-standards/components/mf-modal";

/* Medfusion standalone type styles */
// Modal

.mf-modal {

  @import "mf-ui-standards/util/mf-border";
  @import "mf-ui-standards/util/mf-inner-grid";

  @import "mf-ui-standards/basics/h1";
  @import "mf-ui-standards/basics/h2";
  @import "mf-ui-standards/basics/h3";
  @import "mf-ui-standards/basics/h4";
  @import "mf-ui-standards/basics/h5";
  @import "mf-ui-standards/basics/p";

  @import "mf-ui-standards/components/mf-forms";
  @import "mf-ui-standards/components/mf-list--legacy";

  font-family: $mf-font__family;
  @include mf-font-preset();

  a {
    color: $mf-color__text--link;
  }

  .modal-content {
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;

    .modal-header {
      @include mf-inner-grid();
      border-bottom: none;
      padding-bottom: 5px;
      //padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      text-align: center;

      .header-bottom-border {
        height: 35px;
        border-bottom: 1px solid #ccc;
      }

      .modal-title {
        @include mf-font-preset(xl);
        margin: 0 32px 24px 0;
        text-align: left;
      }
      .close {
        opacity: 1;
        margin-top: -4px;
        margin-right: -8px;

        .mf-icon {
          margin-right: 0;
        }
      }
      .mf-back-button {
        float: left;
        cursor: pointer;
      }
    }
    .modal-body {
      @include mf-border--dark();
      padding: 24px;
      overflow-y: scroll;
      max-height: 500px;
      min-height: 300px;
    }
    .modal-footer {
      padding: 16px;
      text-align: center;
      @include mf-inner-grid();
      border-top: 0;

      .mf-cta__primary,
      .mf-cta__primary--optional,
      .mf-cta__secondary {
        float: right;
        margin-left: 16px;
        width: auto;
      }

      :last-child {
        margin-left: 0;
      }
    }
  }

  @media (min-width: map-get($mf-breakpoints, small)) {
    .modal-dialog {
      max-width: 600px;
      margin: 32px auto;
    }
  }

  .mf-modal-open {
    display: block;
  }

  .mf-list-header {
    color: #4a4a4a;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.222;

    :first-child {
      margin-top: 0;
    }
  }
  @mixin display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
  }
  // from main
  .mf-list__item {
    .item-content {
      @include display-flex();
      width: 100%;
      padding: 0px;
    }
  }

  .create-step-header {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .connect-secondary-header {
    font-size: 16px;
  }

  .item {

    // mf-item-header is used for (surprise!) headers that sit over some content or list -- in a
    // "this is the context for the page as a whole" sense. It generally has a major title and
    // a smaller tagline-like note.
    // It should have a <h2> or <h3> followed by one or more <p> elements.
    &.mf-itemnew-header {
      //@extend %mf-item-base;
      //@extend %mf-item-border;

      border-color: #E9E9E9;

      h2,
      h3 {
        color: #4a4a4a;
        font-weight: 300;
        line-height: 28px;
      }
      p {
        color: #9B9B9B;
        font-size: 11px;
        line-height: 12px;
        margin-top: 5px;
        text-transform: uppercase;
      }
    }
  }
  .connection-status-info {
    border-top: 1px solid #ccc;
    padding-top: 16px;
  }
  .mf-connect-error {
    color: $mf-color__text--negative;
  }
  .mf-footer-text {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    color: #767676;
    font-size: 13px;
    background-image: url(mf-icon(medfusion-twirl, dim));
    background-position: left;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 24px;
  }

  .branding--subtle {
    @include mf-font-preset(xs);
    color: #cccccc;
    text-align: center;
  }

  .portal-info {
    color: #767676;
    text-align: center;
  }

  .mf-modal-loading {
    text-align: center;
  }

  .mf-loading__page-blocker {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1100;
    display: none;
  }
  #mfBtnClickBlock {
    height: 50px;
    width: 50%;
  }

  .mf-cancel-delete {
    padding-left: 16px;
    display: inline-block;
  }
}

.mf-connect-btn {
  width: 275px;
  padding-left: 64px;
  text-align: left;
  position: relative;

  .mf-icon {
    position: absolute;
    top: 8px;
    left: 24px;
  }
}